<div class="head-box">
    <div class="head-inner">
        <div class="info-box">
            <a href="/" class="avatar">
                <img src="<%= theme.avatar %>" alt="" />
            </a>
            <div class="detail-info">
                <h1 class="name"><%= theme.blog_name %></h1>
                <div class="slogan"><%= theme.slogan %></div>
                <hr>
                <div class="link-box">
                    <% theme.head_link.forEach(function(item, i){ %>
                    <% if(i<4) {%>
                    <a class="link-item-box td02" href="<%= item.text_value_url || '/' %>">
                        <i class="iconfont <%= item.icon%>"></i>
                        <span><%= item.text_key%></span>
                    </a>
                    <% } %>
                    <% }) %>
                </div>
            </div>
        </div>
        <div class="menu-box">
            <% theme.page_nav.forEach(function (item) { %>
                <a class="menu-item td02" href="<%= item.url%>"
                        <% if(item.target_blank) { %>
                            target="_blank"
                        <% }%>>
                    <i class="iconfont <%= item.icon%>"></i></a>
            <% }) %>
        </div>
    </div>
</div>
<div class="m-head-box" id="m-head-box">
    <i class="iconfont icon-m-menu menu-icon" id="m-menu-btn"></i>
    <h1 class="name"><%= theme.blog_name %></h1>
</div>
<div id="m-menu-box">
    <% theme.page_nav.forEach(function (item) { %>
    <a class="menu-item" href="<%= item.url%>"
            <% if(item.target_blank) { %>
       target="_blank"
            <% }%>>
        <i class="iconfont <%= item.icon%>"></i>
        <span><%= item.name%></span>
    </a>
    <% }) %>
</div>

<script>
    var isMenuOpen = false
    var $menuBtn = document.getElementById("m-menu-btn")
    var $menuBox = document.getElementById("m-menu-box")
    var $headBox = document.getElementById("m-head-box")
    $menuBtn.onclick = function (e) {
        isMenuOpen = !isMenuOpen
        $menuBox.style.left = isMenuOpen?'0':'-80%'
        $headBox.style.background = isMenuOpen?'rgba(20,20,20,0.9)':'#666'
        e.stopPropagation()
    }
    document.body.onclick = function (e) {
        $menuBox.style.left = '-80%'
        $headBox.style.background = '#666'
        isMenuOpen = false
        e.stopPropagation()
    }
    $menuBox.onclick = function (e) {
        e.stopPropagation()
    }
</script>
