<!DOCTYPE html>

<% if (theme.home_background_scheme === 'light') {%>
  <html class="light page-<%= page.base ? page.base.replace(/\//g, '') : page.layout ? page.layout : 'home' %>">
<% } else { %>
  <html class="dark page-<%= page.base ? page.base.replace(/\//g, '') : page.layout ? page.layout : 'home' %>">
<% } %>

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0" />
  <!--页面窗口自动调整到设备宽度，并禁止用户及缩放页面-->
  <meta name="format-detection" content="telephone=no" />
  <!--忽略将页面中的数字识别为电话号码-->
  <meta name="format-detection" content="email=no" />
  <!--忽略Android平台中对邮箱地址的识别-->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!--ios-->
  <meta name="mobile-web-app-capable" content="yes" />
  <!--安卓 去状态栏-->

  <%
  var title = page.title;

  if (is_archive()){
    title = 'Archives';

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Category: ' + page.category;
  } else if (is_tag()){
    title = 'Tag: ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <% if (page.tags && page.tags.length) { %>
    <meta name="keywords" content="<% page.tags.forEach(function(tag) { %><%= tag.name %>,<% }); %>" />
  <% } else { %>
    <meta name="keywords" content="<%= theme.keywords %>" />
  <% } %>

  <%- open_graph() %>

  <% if (theme.rss){ %>
    <link rel="alternate" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>

  <% if (theme.favicon){ %>
    <link rel="icon" href="<%- theme.favicon %>">
  <% } %>

  <%- partial('style') %>

  <% if (theme.personal_style){ %>
    <%- css(theme.personal_style) %>
  <% } %>

  <%- partial('google-analytics') %>
  <%- partial('baidu-analytics') %>
</head>
